# Discord
git+https://github.com/Rapptz/discord.py.git
discord-ext-menus
jishaku

# Core
aiohttp
aiosqlite
python-dotenv
typing-extensions

# APIs & Requests
requests
httpx
tenacity
duckduckgo-search==6.3.6
groq
openai

# Utilities
psutil==5.9.8
pytz
python-dateutil
tabulate
colorama
PyYAML

# Files & Async
aiofiles

# AI / Text / Misc
gtts
langdetect
sympy
beautifulsoup4

# Images
pillow>=10.2.0

# Extra
chess
flask